{% extends "index.njk" %} {% block content %}

<div id="container"></div>


<!-- Contenedor donde se renderizará la tabla -->
<script type="module">
 import { createButtonGroup } from '/js/components/common/buttonGroup.js';
  import { bulkActionsButtons } from '/js/utils/buttonsConfig.js';

  export function renderSettingsPage() {
    const container = document.getElementById('container');
    if (!container) {
      console.log('❌ No se encontró el contenedor');
      return;
    }

    console.log('✅ Contenedor encontrado, creando botones...');

    const title = document.createElement('h2');
    title.textContent = '🛠 Generador Masivo';
    title.style.color = 'white';

    const group = createButtonGroup(bulkActionsButtons());

    container.appendChild(title);
    container.appendChild(group);

    console.log('✅ Botones agregados correctamente');
  }

  renderSettingsPage();
</script>
</script>
{% endblock %}
