@import './responsinator.css';
@import './components/common/navbar.css';
@import './components/common/content.css';
@import './components/common/sidebar.css';
/* @import './components/common/footer.css'; */
/* @import './components/navbar.css'; */

@import './components/common/content.css';
@import './components/table.css';
@import './components/card.css';
@import './components/common/spinner.css';
@import './components/custom/customCard.css';
@import './components/common/chekbox.css';
@import './components/common/panel.css';
@import './components/custom/menuWraper.css';
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #002b57;
  overflow: hidden;
  color: #f4f4f4;
}

/* Navbar */
#navbar {
  position: sticky;
  top: 0;
  background-color: #130242;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  transition: transform 0.3s ease;
  border: 2px solid white;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Toda la pantalla */
  width: 250px;
  background-color: #130242;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* <-- Antes estaba -100% */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

#sidebar.active {
  transform: translateX(0);
}

/* Contenedor principal */
#main {
  transition: padding-left 0.3s ease;
  padding-left: 0;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(70, 0, 0);
}

/* Content */
#content {
  flex: 1;
  overflow-y: auto;
  background-color: #130242;
  padding: 10px;
  border: 2px solid white;
}

/* Botón menú hamburguesa */
.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}
/* Desktop: Sidebar desplaza el contenido */
#main.shifted {
  padding-left: 250px;
}

@media (max-width: 768px) {
  /* Sidebar encima del contenido */
  #sidebar {
    transform: translateX(-100%);
    width: 250px;
    height: 100%;
    z-index: 2000;
  }

  #sidebar.active {
    transform: translateX(0);
  }

  /* No empujar el main en móvil */
  #main.shifted {
    padding-left: 0;
  }
}

.hidden {
  display: none;
}

/* Mostrar el elemento (ya sea el spinner o el layout) */
.visible {
  display: flex;
}
#mainContainer {
  margin: 0px 0px 20px 0px;
  padding: 10px;
}
#store-state,
#action-history,
#store-nodes {
  margin: 20px 0;
}

h2 {
  margin-bottom: 10px;
}

pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  overflow: auto;
  font-size: 14px;
  max-height: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 2px;
  border-radius: 5px;
}

.node {
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

.toggle-btn {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 2px 6px;
  margin-right: 8px;
  border-radius: 5px;
}

.node-value {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #333;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Clase para aplicar la animación */
.fade-in-up {
  animation: fadeInUp 0.4s ease-out;
}

@keyframes zoomInFromBack {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in-back {
  animation: zoomInFromBack 0.4s ease-out;
}
