{% extends "index.njk" %} {% block content %}

<!-- Inyectar el tipo de endpoint como un valor global -->

{%set typeEndpoint = 'Role'%}{%set apiSubItem = 'permisos'%} {% include
"pages/privatePages/index.njk" %} {% endblock %}
