{% extends "index.njk" %} {% block content %}

<!-- Inyectar el tipo de endpoint como un valor global -->

{%set typeEndpoint = 'User'%} {%set apiSubItem = 'roles'%} {% include
"pages/privatePages/index.njk" %}{% endblock %}
