/* Estilos generales para los checkboxes */
input[type="checkbox"].row-checkbox {
  appearance: none; /* Quita el estilo predeterminado */
  -webkit-appearance: none; /* Para Safari */
  -moz-appearance: none; /* Para Firefox */
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid #007bff; /* Borde azul */
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

/* Estilo cuando el checkbox está marcado */
input[type="checkbox"].row-checkbox:checked {
  background-color: #007bff; /* Color de fondo cuando está marcado */
  border-color: #0056b3; /* Cambio de color de borde */
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.3); /* Efecto de sombra */
}

/* Estilo para el "check" dentro del checkbox cuando está marcado */
input[type="checkbox"].row-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: white; /* Color de la marca */
  border-radius: 2px;
}

/* Estilos para el checkbox "Seleccionar todo" */
#selectAllCheckbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #007bff;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

#selectAllCheckbox:checked {
  background-color: #007bff;
  border-color: #0056b3;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.3);
}

#selectAllCheckbox:checked::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 2px;
}
