{% extends "layouts/base.njk" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1 class="display-4">Dashboard</h1>
  <p class="lead">Bienvenido, {{ user.username }}!</p>
  <hr class="my-4">
  <p>Tu email registrado es: {{ user.email }}</p>
  <p>Te registraste el: {{ user.createdAt.toLocaleDateString() }}</p>
{% endblock %}