{% extends "layouts/base.njk" %} {% block title %}Perfil{% endblock %} {% block
content %}
<div class="container">
  <h1>Perfil de {{ user.username }}</h1>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>DNI:</strong> {{ user.dni }}</p>
  <p>
    <strong>Fecha de registro:</strong>
    {{ user.createdAt }}
  </p>
  <!-- Aquí puedes añadir más campos de usuario según lo necesites -->
</div>
{% endblock %}
