{% extends "index.njk" %} {% block content %}

<!-- Inyectar el tipo de endpoint como un valor global -->

{%set typeEndpoint = 'Specialty'%}
<!-- Pasar `apiEndpoint` directamente al script -->
{% include "pages/privatePages/index.njk" %} {% endblock %}
