/* Estilos base solo para móviles */
/* Estilo para la clase 'active' */
a.active {
  color: yellow; /* Color del enlace activo */
  font-weight: bold; /* Hacer el texto en negrita */
  text-decoration: underline; /* Subrayar el enlace activo */
}

/* Contenedor para logo y menú */
#logo-menu-container {
  display: flex; /* Usamos Flexbox para alinear el logo y el ícono */
  width: 250px;
  justify-content: space-between; /* Alinear el logo y el ícono alineados en la izquierda */
  align-items: center; /* Centra el logo y el ícono en la línea */
}

#logo {
  width: 200px;
  height: 60px;
  border-radius: 5px;
}

#menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
  z-index: 2000; /* Asegura que el ícono del menú esté por encima del menú */
}
/* Estilo para el Navbar */

/* Menú Lateral (Sidebar) */

@media (max-width: 768px) {
  #side {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    height: calc(100vh - 50px);
  }
  #navbar {
    border: 1px solid white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: #0a0518;
    text-align: left;
    z-index: 1000;
  }

  #menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  /* Menú hamburguesa solo visible en móviles */

  #content {
    padding: 60px 20px 20px;
    text-align: center;
  }

  /* Footer fijo */
  #footer {
    background-color: #130242;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
