  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Política de Seguridad de Contenidos (CSP) con el nonce -->
  

    <title>{{ title }}</title>
     <!-- El nonce se pasa a los scripts -->
    <link
      rel="stylesheet"
      href="/css/styles.css"
    />
  
  </head>
  <body>
  

    <!-- Footer -->
    <div id="sidebar"></div>
    <!-- Menú de rutas dinámicas -->
    <div id="main">
      <nav id="navbar">
        <!-- Las rutas se cargarán dinámicamente aquí -->
      </nav>

      <!-- Aquí centramos el spinner -->
      <div id="content">
        {% block content %}
        <!-- Aquí irá el contenido dinámico -->

        {% endblock %}
      </div>
      {# <p
      id="sessionTime"
      style="
        position: fixed;
        bottom: 0px;
        font-size: 14px;
        color: rgb(255, 255, 255);
        z-index: 1500;
      "
    ></p> #}
      <footer id="footer"></footer>

      <script type="module" src="/js/index.js" nonce="{{ nonce }}"></script>
  </body>
</html>
